*{
    margin:0;padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

button, .icon{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #264ac0;
}

.page{
    background-color: whitesmoke;
    padding-bottom: 50px;
    min-height: calc(100vh - 310px);
}
.page .title-container{
    background-color: white;
    height: 80px;
    box-sizing: border-box;
    display: flex; align-items: center;
    padding-left: 20px;
}

.page .title-container h1{
    width: 100%;
    max-width: 1200px;
    margin:auto;
    font-size: 26px;
    font-weight: 600;
    color: #333333;
}

.page .content{
    background-color: white;
    width: 100%;
    max-width: 1200px;
    margin:auto;
    padding: 20px;
    padding-bottom: 40px;
    margin-top: 20px;
    box-sizing: border-box;
}