*{
    margin:0;padding:0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}
*, ::after, ::before {
    box-sizing: border-box;
}
.container{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

button, .icon{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #264ac0;
}
a:hover{
    text-decoration: none;
    color: #269cc0;
}
.page{
    background-color: whitesmoke;
    padding-bottom: 50px;
    min-height: calc(100vh - 310px);
}
.page .title-container{
    background-color: white;
    height: 80px;
    box-sizing: border-box;
    display: flex; align-items: center;
    padding-left: 20px;
}

.page .title-container h1{
    width: 100%;
    max-width: 1200px;
    margin:auto;
    font-size: 26px;
    font-weight: 600;
    color: #333333;
}

.page .content{
    background-color: white;
    width: 100%;
    max-width: 1200px;
    margin:auto;
    padding: 20px;
    padding-bottom: 40px;
    margin-top: 20px;
    box-sizing: border-box;
}
.index-product{
    width:24%;
}

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  position:relative;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.textcentre{
    text-align: center;
}
.display{
    font-size: 3em;
    font-weight: 300;
    text-align: center;
}

.flex-row{
    display:flex;
    flex-direction: row;   
}
.flex-column{
    display:flex;
    flex-direction: column;
}
.justify-content-around {
    -ms-flex-pack: distribute!important;
    justify-content: space-around!important;
}
.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}
.heading{
    padding-bottom:0.4em;
    margin-bottom: 0.6em;
    margin-top:0.6em;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding:5px;
}
.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.card-title {
    margin-bottom: .75rem;
    font-size: 1.2em;
    font-weight: 400;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-block {
    display: block;
    width: 100%;
}

.btn {
    display: inline-block;
    text-decoration: none !important;
    margin:2px;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn-success:hover{
    color: #fff;
}
.btn-outline-warning {
    color: #ffc107;
    border-color: #ffc107;
}
.btn-outline-warning:hover{
    color: #fff;
    background-color: #ffc107;
}
.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}
.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
