nav{
    background-color: #333333;
    color:white;
    width: 100%;
    height: 60px;
}
nav .nav-content{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin:auto;
    display: flex;
    align-items: center;
    position: relative;
    padding:0 20px;
    box-sizing: border-box;
}
nav .logo img{
    width: 50px;
    margin-right: 50px;
}

nav ul {
    display: flex;
    gap:30px;
}
nav ul li {
    font-size: 18px;
    list-style-type: none;
    cursor: pointer;
}

nav .right-content{
    position: absolute;
    top:8px;
    right:20px;
    display: flex;
    gap:30px;
}

nav .right-content img{
    width: 24px;
    display: block;
    margin:auto;
}